
.swiper-box {
  margin-left: 40px;
  width: 100%;
  .swiper {
    height: 220px;
    width: 670px;
    .swiper-item {
      height: 220px;
      width: 670px;
      .swiper-img {
        border-radius: 20px;
        height: 220px;
        width: 670px;
      }
    }
  }
}