@charset "UTF-8";
/*
flex-direction
flex-wrap
flex-flow
justify-content
align-items
align-content:定义了多根轴线的对齐方式

order:数值越小越靠前
flex-grow:定义项目的放大比例
flex-shrink:定义了项目的缩小比例
flex-basis:定义了在分配多余空间之前，项目占据的主轴空间（main size）
flex:是flex-grow, flex-shrink 和 flex-basis的简写
align-self:允许单个项目有与其他项目不一样的对齐方式
*/
.home .home_box .title {
  height: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
}

.home .home_box .title .txt {
  font-size: 50px;
  font-weight: 600;
}

.home .home_box .title .all {
  height: 60px;
  width: 150px;
  border-radius: 30px;
  border: 1px solid #b3bfc4;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .home_box .myswiper {
  height: 220px;
  width: 670px;
}

.home .tabBar {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 28px;
}

.home .tabBar .item {
  margin-right: 60px;
}

.home .tabBar .item.activity {
  font-size: 60px;
  font-weight: 600;
  border-bottom: 16px solid #b6c7ff;
  border-radius: 8px;
}

.home .tabBar .search_icon {
  height: 40px;
  width: 40px;
  margin-left: 80px;
  margin-right: 35px;
  position: relative;
  top: 30px;
}
